### Exploratory Data Analysis of The Transformed Loan Payments Table

In [ ]:
# Import necessary modules

from db_connector import open_latest_table

In [ ]:
# Call the open_latest_table function and retrieve the final transformed loan payments dataframe.
loan_payments = open_latest_table()